# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS-specific files
.DS_Store
Thumbs.db

# Editor metadata
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/*
.vs/*
*.user

# sensitive files
*.key
*.pem
*.swp

# build output
build/
dist/
cmake-*

# engine runtime (created if run from project dir)
baseq3/

# todos
TODOS.md
